/* styles.css */
.button-label {
    /*-fx-background-color: #4CAF50; !* 设置背景颜色 *!*/
    /*-fx-text-fill: white;         !* 设置文本颜色 *!*/
    -fx-padding: 1 3;             /* 设置内边距 */
    -fx-font-size: 12;            /* 设置字体大小 */
    /*-fx-cursor: hand;             !* 设置光标为手型 *!*/
}

.button-label:hover {
    -fx-background-color: #0096c9; /* 设置悬停时的背景颜色 */
}

.button-label:pressed {
    -fx-background-color: #0096e9; /* 设置悬停时的背景颜色 */
}